.content {
    background-color: rgba(221, 209, 184, 0.671);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-top: px solid #333; 
    border-bottom: 100px solid #5c5a5a;
    border-bottom: 2px solid #333;
}

.content a {
    color: black;
}

.copyright {
    color: rgba(255, 255, 255, 0.486);
}