body {
    margin: 0;
    max-width: 100vw;
    min-height: 100vh;
    padding: 10vw auto auto auto;

    background-image: url("/gallery/kahvi.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.content {
    display: block;
    margin: auto;
    padding: 20px;
    width: 85%;
    max-width: 70rem;
}

h1 {
    margin-bottom: 1.5rem;
    font-size: 2rem;
}

h2 {
    margin-bottom: 2rem;
    font-size: 1.6rem;
}

p {
    margin-top: 20px;
    font-size: 1.0rem;
}

.container-flex {
    display: flex;
    width: max-content;
    margin: auto;
    max-width: 100%;
    flex-wrap: wrap;
}

.container-flex section {
    text-align: center;
    margin: 1rem;
    width: max-content;
}

.container-flex img, .container-flex p {
    display: inline-block;
    vertical-align: middle;
}

.container-flex img {
    width: 2rem;
}

.copyright {
    position: absolute;
    right: 20px;
    bottom: 10px;
}